# *Задание**

Руководитель отдела сопровождения клиентов хочет получить информацию о том, насколько хорошо сотрудники его отдела (аккаунт-менеджеры) справляются с одной из своих основных задач – пролонгацией договоров с клиентами. От аналитика он хочет получить отчет о пролонгациях сотрудников за 2023 год. 

В компание используется коэффициент пролонгации:

Для проектов пролонгированных в первый месяц – отношении суммы отгрузки проектов пролонгированных в первый месяц после завершения к сумме отгрузки последнего месяца реализации всех завершившихся в прошлом месяце проектов.

То есть, если нам нужно понять, насколько хорошо менеджер пролонгировал в мае, необходимо посчитать:

Сумму отгрузки проектов, завершившихся в апреле (за апрель) и сумму отгрузки тех проектов завершившихся в апреле, у которых есть отгрузка в мае (за май). Коэффициент – отношение второй суммы к первой. 

### Имеются два набора данных:

`prolongations.csv`
- id – id проекта
- month – последний месяц реализации проекта
- AM – ФИО ответственного аккаунт-менеджера (данные первичны по отношению к financial_data)

`financial_data.csv:`
- id – id проекта
- Причина дубля – причина, почему строки с одним и тем же id встречаются несколько раз
- Колонки с названием месяца – сумма отгрузки проекта в данный месяц
- Account – ФИО ответственного аккаунт-менеджера

### Необходимо: 
Рассчитать коэффициенты пролонгации для каждого менеджера и для всего отдела в целом
- за каждый месяц
- за год

In [305]:
import pandas as pd
import numpy as np

In [307]:
financial_data = pd.read_csv('financial_data.csv')
prolongations = pd.read_csv('prolongations.csv')

In [309]:
financial_data.head()

,id,Причина дубля,Ноябрь 2022,Декабрь 2022,Январь 2023,Февраль 2023,Март 2023,Апрель 2023,Май 2023,Июнь 2023,Июль 2023,Август 2023,Сентябрь 2023,Октябрь 2023,Ноябрь 2023,Декабрь 2023,Январь 2024,Февраль 2024,Account
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович

In [312]:
prolongations.head(50)

     id         month                             AM
0    42   ноябрь 2022   Васильев Артем Александрович
1   453   ноябрь 2022   Васильев Артем Александрович
2   548   ноябрь 2022      Михайлов Андрей Сергеевич
3    87   ноябрь 2022  Соколова Анастасия Викторовна
4   429   ноябрь 2022  Соколова Анастасия Викторовна
5   600   ноябрь 2022   Васильев Артем Александрович
6   657   ноябрь 2022   Васильев Артем Александрович
7   594   ноябрь 2022   Васильев Артем Александрович
8   665   ноябрь 2022   Васильев Артем Александрович
9   586   ноябрь 2022        Иванова Мария Сергеевна
10  637   ноябрь 2022  Соколова Анастасия Викторовна
11  419   ноябрь 2022      Михайлов Андрей Сергеевич
12  578   ноябрь 2022    Попова Екатерина Николаевна
13  579   ноябрь 2022   Васильев Артем Александрович
14  671   ноябрь 2022  Соколова Анастасия Викторовна
15  633   ноябрь 2022   Васильев Артем Александрович
16  645   ноябрь 2022  Соколова Анастасия Викторовна
17  369   ноябрь 2022   Васильев Артем Александрович
18  547   ноябрь 2022      Михайлов Андрей Сергеевич
19  592   ноябрь 2022   Васильев Артем Александрович
20  666   ноябрь 2022   Васильев Артем Александрович
21  620   ноябрь 2022   Васильев Артем Александрович
22  301   ноябрь 2022    Попова Екатерина Николаевна
23  704   ноябрь 2022      Михайлов Андрей Сергеевич
24   15  декабрь 2022        Иванова Мария Сергеевна
25   16  декабрь 2022        Иванова Мария Сергеевна
26  379  декабрь 2022        Иванова Мария Сергеевна
27   31  декабрь 2022   Васильев Артем Александрович
28  572  декабрь 2022   Васильев Артем Александрович
29  573  декабрь 2022   Васильев Артем Александрович
30  574  декабрь 2022   Васильев Артем Александрович
31  575  декабрь 2022   Васильев Артем Александрович
32  576  декабрь 2022   Васильев Артем Александрович
33  448  декабрь 2022  Соколова Анастасия Викторовна
34  492  декабрь 2022    Смирнова Ольга Владимировна
35  597  декабрь 2022      Михайлов Андрей Сергеевич
36  708  декабрь 2022   Васильев Артем Александрович
37  719  декабрь 2022   Васильев Артем Александрович
38   39  декабрь 2022        Иванова Мария Сергеевна
39  328  декабрь 2022        Иванова Мария Сергеевна
40  716  декабрь 2022  Соколова Анастасия Викторовна
41  613  декабрь 2022   Васильев Артем Александрович
42  615  декабрь 2022   Васильев Артем Александрович
43  617  декабрь 2022   Васильев Артем Александрович
44  643  декабрь 2022   Васильев Артем Александрович
45   45  декабрь 2022    Попова Екатерина Николаевна
46  318  декабрь 2022    Попова Екатерина Николаевна
47   46  декабрь 2022   Васильев Артем Александрович
48   49  декабрь 2022   Васильев Артем Александрович
49  603  декабрь 2022      Михайлов Андрей Сергеевич

# Обработаем financial_data

In [315]:
# Переведем названия колонок в нижний регистр
financial_data.columns = map(str.lower, financial_data.columns)

In [316]:
# Проверим пропуски в данных - пропусков нет
financial_data.isna().sum()

id                 0
причина дубля    150
ноябрь 2022      295
декабрь 2022     292
январь 2023      312
февраль 2023     306
март 2023        283
апрель 2023      277
май 2023         261
июнь 2023        261
июль 2023        256
август 2023      252
сентябрь 2023    265
октябрь 2023     269
ноябрь 2023      280
декабрь 2023     305
январь 2024      356
февраль 2024     350
account            0
dtype: int64

In [317]:
# Тип данных
financial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             451 non-null    int64
 1   причина дубля  301 non-null    object
 2   ноябрь 2022    156 non-null    object
 3   декабрь 2022   159 non-null    object
 4   январь 2023    139 non-null    object
 5   февраль 2023   145 non-null    object
 6   март 2023      168 non-null    object
 7   апрель 2023    174 non-null    object
 8   май 2023       190 non-null    object
 9   июнь 2023      190 non-null    object
 10  июль 2023      195 non-null    object
 11  август 2023    199 non-null    object
 12  сентябрь 2023  186 non-null    object
 13  октябрь 2023   182 non-null    object
 14  ноябрь 2023    171 non-null    object
 15  декабрь 2023   146 non-null    object
 16  январь 2024    95 non-null     object
 17  февраль 2024   101 non-null    object
 18  account        451 non-null    object
dtypes: int64(1), object(18)
memory usage: 67.1+ KB

In [318]:
financial_data.head(20)

,id,причина дубля,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024,account
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
5,637,NaN,"38 045,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна
6,419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
7,578,NaN,"82 800,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Попова Екатерина Николаевна
8,579,NaN,в ноль,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
9,592,первая часть оплаты,"92 302,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
10,592,вторая часть оплаты,"12 340,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
11,666,NaN,"110 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
12,620,NaN,в ноль,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
13,704,первая часть оплаты,"35 365,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
14,704,вторая часть оплаты,"945,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
15,704,вторая часть оплаты,"4 715,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Иванова Мария Сергеевна
17,379,NaN,"55 195,00","55 195,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Иванова Мария Сергеевна
18,31,NaN,"55 100,00","55 100,00",NaN,"44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","44 775,00","46 200,00",Васильев Артем Александрович
19,572,изменение ЮЛ,"56 200,00",стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович

In [319]:
# Создадим список столбцов
months = financial_data.columns[2:-1].to_list()

# Заменим значение 'end' на 'стоп' во всех столбцах
financial_data[months] = financial_data[months].replace('end','стоп')

# Заменим значение 'в ноль' на тип данных float - 0
financial_data[months] = financial_data[months].replace('в ноль', float(0))

In [320]:
financial_data[months]

,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,"76 550,00","79 950,00","66 900,00","89 150,00","108 450,00","77 100,00","78 800,00","126 740,00","117 730,00","115 860,00","160 770,00","142 490,00","99 125,00","74 350,00","105 775,00","92 065,00"
447,"21 450,00","13 300,00","15 900,00","19 850,00","17 350,00","14 650,00","15 900,00","3 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,NaN,NaN,NaN,"5 306,60","12 898,10","5 287,00","10 180,00","8 600,00","3 860,00","8 600,00","700,00","700,00",0.0,0.0,NaN,NaN
449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"58 200,00","58 200,00","58 200,00","58 200,00","58 200,00","58 200,00",NaN,NaN
450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"36 687,50","31 152,50","30 350,00","34 547,50","25 750,00","25 600,00"

In [321]:
# Числа в колонкам имеют тип данных object, нам нужно перевести их в float, чтобы было легче агрегировать данные
def to_float(x):
    if x != 'стоп' and isinstance(x, str):
        # удаляем неразрывный пробел, запятую, пробел
        return float(x.replace(' ','').replace(',','.').replace('\xa0', ''))
    else:
        return x

In [325]:
# Применяем функцию ко всем столбцам месяцев
for month in months:
    financial_data.loc[:, month]= financial_data[month].apply(to_float)

In [327]:
financial_data.head(30)

,id,причина дубля,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024,account
0,42,NaN,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,NaN,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
5,637,NaN,38045.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна
6,419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
7,578,NaN,82800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Попова Екатерина Николаевна
8,579,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
9,592,первая часть оплаты,92302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
10,592,вторая часть оплаты,12340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
11,666,NaN,110000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
12,620,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
13,704,первая часть оплаты,35365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
14,704,вторая часть оплаты,945.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
15,704,вторая часть оплаты,4715.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Михайлов Андрей Сергеевич
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Иванова Мария Сергеевна
17,379,NaN,55195.0,55195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Иванова Мария Сергеевна
18,31,NaN,55100.0,55100.0,NaN,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,46200.0,Васильев Артем Александрович
19,572,изменение ЮЛ,56200.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
20,573,изменение ЮЛ,69210.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
21,574,изменение ЮЛ,46755.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
22,575,изменение ЮЛ,25020.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
23,576,изменение ЮЛ,36365.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
24,328,NaN,116473.5,110700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Иванова Мария Сергеевна
25,716,первая часть оплаты,18640.0,18710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна
26,716,вторая часть оплаты,3165.0,2110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна
27,613,первая часть оплаты,0.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
28,615,первая часть оплаты,0.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
29,617,первая часть оплаты,0.0,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович

In [331]:
# Можно не преобразовывать NaN, так как агрегация корректно сработает

# Создадим функцию агрегации
def aggregate(x):
    if x.isna().all():
        return np.nan
    elif ('стоп' in x.values):
        return 'стоп'
    else:
        try:
            return np.nansum(x)
        except ValueError:
            return np.nan

# Сгруппируем строки по id и агрегируем значения
financial_data = financial_data.groupby(['id', 'account'], as_index= False).agg(aggregate)

In [332]:
# Удалим столбец 'причина дубля'
financial_data = financial_data.drop(columns='причина дубля')

In [333]:
financial_data.head(20)

,id,account,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,15,Иванова Мария Сергеевна,439280.0,439280.0,102433.75,102433.75,102433.75,138158.0,138158.0,102433.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,Иванова Мария Сергеевна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31,Васильев Артем Александрович,55100.0,55100.0,NaN,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.00,44775.0,46200.0
3,39,Попова Екатерина Николаевна,137700.0,137700.0,149206.50,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.50,NaN,NaN
4,42,Васильев Артем Александрович,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,45,Попова Екатерина Николаевна,35150.0,47400.0,49130.00,64475.0,71640.0,58995.0,62100.0,61635.0,70755.0,36125.0,85090.0,96680.0,88400.0,77530.00,NaN,NaN
6,46,Смирнова Ольга Владимировна,37939.5,37939.5,39838.50,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.50,NaN,NaN
7,48,Смирнова Ольга Владимировна,NaN,NaN,NaN,39726.0,39726.0,39726.0,NaN,NaN,NaN,NaN,39726.0,39726.0,39726.0,NaN,45175.5,44635.5
8,49,Смирнова Ольга Владимировна,85842.0,85842.0,83358.00,83358.0,83358.0,83358.0,83358.0,83358.0,84582.0,84582.0,84582.0,84582.0,84582.0,84582.00,NaN,NaN
9,54,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,41067.0,38461.5,32139.0,31333.5,32139.0,32139.0,49666.5,50094.0,50949.0,50949.00,NaN,NaN
10,55,Иванова Мария Сергеевна,NaN,NaN,NaN,NaN,43173.0,41364.0,44257.5,45868.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,56,Васильев Артем Александрович,NaN,NaN,24615.00,25672.5,25672.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41409.0,40869.0
12,83,Смирнова Ольга Владимировна,NaN,NaN,100166.40,96881.1,101759.7,97543.8,101007.7,NaN,79021.1,79021.1,79021.1,стоп,NaN,NaN,NaN,NaN
13,86,Попова Екатерина Николаевна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44734.5,45067.32,49469.16,55818.26,NaN,NaN,NaN,NaN,NaN
14,87,Иванова Мария Сергеевна,70050.0,NaN,73380.00,83480.0,89300.0,89300.0,78605.0,72485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,101,Попова Екатерина Николаевна,43800.0,43800.0,43800.00,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,107,Кузнецов Михаил Иванович,52158.0,66122.0,34850.00,NaN,67774.08,36046.0,54832.0,47165.28,71542.0,51910.74,60269.0,58485.96,59885.85,65222.34,60505.74,66694.89
17,109,Васильев Артем Александрович,94000.0,94000.0,94000.00,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.00,NaN,NaN
18,112,Михайлов Андрей Сергеевич,202450.0,194050.0,125000.00,222000.0,240800.0,90090.0,117090.0,117090.0,155090.0,162650.0,162650.0,132410.0,132410.0,132410.00,NaN,136730.0
19,154,Соколова Анастасия Викторовна,57545.0,57545.0,57545.00,57545.0,67545.0,57545.0,57545.0,79545.0,57545.0,70545.0,57545.0,80100.0,75100.0,90300.00,75200.0,82700.0

In [335]:
# Заменим нулвые значения на значения предыдущего месяца
for i in range(len(months) - 1):
    cur_month = months[i]
    prev_month = months[i - 1]
    
    # Заменяем 0 в текущем месяце на значение из предыдущего месяца
    financial_data[cur_month] = financial_data.apply(
        lambda row: row[prev_month] if row[cur_month] == 0
        else row[cur_month], axis=1
    )

In [336]:
financial_data.head(30)

,id,account,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,15,Иванова Мария Сергеевна,439280.0,439280.0,102433.75,102433.75,102433.75,138158.0,138158.0,102433.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,Иванова Мария Сергеевна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31,Васильев Артем Александрович,55100.0,55100.0,NaN,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.0,44775.00,44775.0,46200.0
3,39,Попова Екатерина Николаевна,137700.0,137700.0,149206.50,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.5,149206.50,NaN,NaN
4,42,Васильев Артем Александрович,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,45,Попова Екатерина Николаевна,35150.0,47400.0,49130.00,64475.0,71640.0,58995.0,62100.0,61635.0,70755.0,36125.0,85090.0,96680.0,88400.0,77530.00,NaN,NaN
6,46,Смирнова Ольга Владимировна,37939.5,37939.5,39838.50,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.5,39298.50,NaN,NaN
7,48,Смирнова Ольга Владимировна,NaN,NaN,NaN,39726.0,39726.0,39726.0,NaN,NaN,NaN,NaN,39726.0,39726.0,39726.0,NaN,45175.5,44635.5
8,49,Смирнова Ольга Владимировна,85842.0,85842.0,83358.00,83358.0,83358.0,83358.0,83358.0,83358.0,84582.0,84582.0,84582.0,84582.0,84582.0,84582.00,NaN,NaN
9,54,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,41067.0,38461.5,32139.0,31333.5,32139.0,32139.0,49666.5,50094.0,50949.0,50949.00,NaN,NaN
10,55,Иванова Мария Сергеевна,NaN,NaN,NaN,NaN,43173.0,41364.0,44257.5,45868.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,56,Васильев Артем Александрович,NaN,NaN,24615.00,25672.5,25672.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41409.0,40869.0
12,83,Смирнова Ольга Владимировна,NaN,NaN,100166.40,96881.1,101759.7,97543.8,101007.7,NaN,79021.1,79021.1,79021.1,стоп,NaN,NaN,NaN,NaN
13,86,Попова Екатерина Николаевна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44734.5,45067.32,49469.16,55818.26,NaN,NaN,NaN,NaN,NaN
14,87,Иванова Мария Сергеевна,70050.0,NaN,73380.00,83480.0,89300.0,89300.0,78605.0,72485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,101,Попова Екатерина Николаевна,43800.0,43800.0,43800.00,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,107,Кузнецов Михаил Иванович,52158.0,66122.0,34850.00,NaN,67774.08,36046.0,54832.0,47165.28,71542.0,51910.74,60269.0,58485.96,59885.85,65222.34,60505.74,66694.89
17,109,Васильев Артем Александрович,94000.0,94000.0,94000.00,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.0,94000.00,NaN,NaN
18,112,Михайлов Андрей Сергеевич,202450.0,194050.0,125000.00,222000.0,240800.0,90090.0,117090.0,117090.0,155090.0,162650.0,162650.0,132410.0,132410.0,132410.00,NaN,136730.0
19,154,Соколова Анастасия Викторовна,57545.0,57545.0,57545.00,57545.0,67545.0,57545.0,57545.0,79545.0,57545.0,70545.0,57545.0,80100.0,75100.0,90300.00,75200.0,82700.0
20,174,Иванова Мария Сергеевна,127200.0,127200.0,127200.00,127200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,180,Попова Екатерина Николаевна,99500.0,97550.0,70950.00,стоп,162835.0,191320.0,198705.0,195540.0,170220.0,192375.0,NaN,163359.0,163359.0,163359.00,163359.0,стоп
22,190,Васильев Артем Александрович,149080.0,149100.0,177595.00,171260.0,150220.0,148220.0,152695.0,152695.0,152695.0,152970.0,148815.0,146475.0,143580.0,137745.00,104025.0,123810.0
23,193,Иванова Мария Сергеевна,164000.0,190280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,196,Кузнецов Михаил Иванович,53400.0,48400.0,NaN,49350.0,54625.0,55470.0,53780.0,43230.0,43230.0,43230.0,44075.0,55470.0,26540.0,26540.00,NaN,NaN
25,199,Кузнецов Михаил Иванович,25050.0,68120.0,51470.00,46470.0,53620.0,53730.0,8935.0,8935.0,8935.0,8935.0,50490.0,47895.0,стоп,NaN,NaN,NaN
26,211,Васильев Артем Александрович,NaN,NaN,NaN,171046.75,NaN,NaN,54111.0,75000.0,180000.0,135000.0,238500.0,186750.0,186750.0,186750.00,186750.0,186750.0
27,228,Васильев Артем Александрович,28200.0,28200.0,33885.00,33885.0,33885.0,33885.0,33885.0,33885.0,33885.0,33885.0,33885.0,33885.0,33885.0,33885.00,43400.0,43400.0
28,230,Соколова Анастасия Викторовна,58070.0,62225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,242,Соколова Анастасия Викторовна,96400.0,88850.0,83880.00,90965.0,86975.0,84160.0,75900.0,95105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Обработаем prolongations

In [340]:
print(prolongations.AM.value_counts(), '\n')
print(prolongations.month.value_counts())

AM
Васильев Артем Александрович     139
Соколова Анастасия Викторовна     86
Попова Екатерина Николаевна       76
Смирнова Ольга Владимировна       69
Иванова Мария Сергеевна           48
Михайлов Андрей Сергеевич         31
Кузнецов Михаил Иванович          23
без А/М                            2
Федорова Марина Васильевна         2
Петрова Анна Дмитриевна            1
Name: count, dtype: int64

month
декабрь 2023     69
декабрь 2022     67
сентябрь 2023    42
ноябрь 2023      40
март 2023        33
июнь 2023        31
февраль 2023     28
апрель 2023      28
август 2023      26
ноябрь 2022      24
октябрь 2023     24
июль 2023        23
май 2023         22
январь 2023      20
Name: count, dtype: int64

In [341]:
# В столбце АМ есть значения 'без А/М'. Их можно удалить 
prolongations = prolongations [prolongations.AM != 'без А/М']

In [342]:
prolongations

      id         month                             AM
0     42   ноябрь 2022   Васильев Артем Александрович
1    453   ноябрь 2022   Васильев Артем Александрович
2    548   ноябрь 2022      Михайлов Андрей Сергеевич
3     87   ноябрь 2022  Соколова Анастасия Викторовна
4    429   ноябрь 2022  Соколова Анастасия Викторовна
..   ...           ...                            ...
471  350  декабрь 2023    Смирнова Ольга Владимировна
472  955  декабрь 2023    Смирнова Ольга Владимировна
474  281  декабрь 2023  Соколова Анастасия Викторовна
475  785  декабрь 2023  Соколова Анастасия Викторовна
476  913  декабрь 2023    Смирнова Ольга Владимировна

[475 rows x 3 columns]

# Рассчет коэффициента

In [344]:
# Объединим датасеты prolongations и financial_data в один 
merged_data = pd.merge(prolongations, financial_data, on = 'id', how = 'inner' )

In [345]:
merged_data

,id,month,AM,account,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,42,ноябрь 2022,Васильев Артем Александрович,Васильев Артем Александрович,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,453,ноябрь 2022,Васильев Артем Александрович,Васильев Артем Александрович,NaN,39245.0,44320.0,177635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,548,ноябрь 2022,Михайлов Андрей Сергеевич,Михайлов Андрей Сергеевич,674000.0,674000.0,674000.0,674000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87,ноябрь 2022,Соколова Анастасия Викторовна,Иванова Мария Сергеевна,70050.0,NaN,73380.0,83480.0,89300.0,89300.0,78605.0,72485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,429,ноябрь 2022,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,30280.0,35580.0,35830.0,42830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,350,декабрь 2023,Смирнова Ольга Владимировна,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121000.0,121000.0,121305.0,117805.0,117805.0
471,955,декабрь 2023,Смирнова Ольга Владимировна,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9300.0,9300.0,13200.0,17400.0,NaN,NaN
472,281,декабрь 2023,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,98000.0,93250.0,82800.0,109000.0,125800.0,91750.0,94700.0,129740.0,117730.0,115860.0,160770.0,142490.0,99125.0,74350.0,105775.0,92065.0
473,785,декабрь 2023,Соколова Анастасия Викторовна,Соколова Анастасия Викторовна,NaN,NaN,NaN,5306.6,12898.1,5287.0,10180.0,8600.0,3860.0,8600.0,700.0,700.0,700.0,700.0,NaN,NaN
474,913,декабрь 2023,Смирнова Ольга Владимировна,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58200.0,58200.0,58200.0,58200.0,58200.0,58200.0,NaN,NaN

# Расчеты

In [347]:
# Исклюим проекты со словом "стоп"из расчета коэффициента пролонгации 
# Создадим булеву маску, где хотя бы в одной из колонок есть слово 'стоп'
mask = merged_data.apply(lambda row: row.astype(str).str.contains('стоп')).any(axis=1)
merged_data = merged_data[~mask]

In [348]:
#Так как нам нужно получить отчет о пролонгациях сотрудников за 2023 год, убираем колонки 2022 и 2024 год 
#merged_data = merged_data.loc[:, ~merged_data.columns.str.contains('2022|2024', regex=True)]

#Убираем строки за 2022 и 2024 года
#merged_data = merged_data[~merged_data['month'].astype(str).str.contains('2022|2024', na=False)]

In [349]:
merged_data = merged_data.drop(columns = 'account')

In [350]:
merged_data

,id,month,AM,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,42,ноябрь 2022,Васильев Артем Александрович,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,453,ноябрь 2022,Васильев Артем Александрович,NaN,39245.0,44320.0,177635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,548,ноябрь 2022,Михайлов Андрей Сергеевич,674000.0,674000.0,674000.0,674000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87,ноябрь 2022,Соколова Анастасия Викторовна,70050.0,NaN,73380.0,83480.0,89300.0,89300.0,78605.0,72485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,429,ноябрь 2022,Соколова Анастасия Викторовна,30280.0,35580.0,35830.0,42830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,350,декабрь 2023,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121000.0,121000.0,121305.0,117805.0,117805.0
471,955,декабрь 2023,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9300.0,9300.0,13200.0,17400.0,NaN,NaN
472,281,декабрь 2023,Соколова Анастасия Викторовна,98000.0,93250.0,82800.0,109000.0,125800.0,91750.0,94700.0,129740.0,117730.0,115860.0,160770.0,142490.0,99125.0,74350.0,105775.0,92065.0
473,785,декабрь 2023,Соколова Анастасия Викторовна,NaN,NaN,NaN,5306.6,12898.1,5287.0,10180.0,8600.0,3860.0,8600.0,700.0,700.0,700.0,700.0,NaN,NaN
474,913,декабрь 2023,Смирнова Ольга Владимировна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58200.0,58200.0,58200.0,58200.0,58200.0,58200.0,NaN,NaN

In [351]:
# Создадим еще раз колонки список колонок с месяцами 
months = merged_data.columns[3:].to_list()

In [352]:
# Группируем данные по 'AM', и вычислим сумму проектов по месяцам 
df_grouped = merged_data.groupby(['AM'], as_index=False).agg({col: 'sum' for col in months})

In [369]:
df_grouped.dtypes

AM                object
ноябрь 2022       object
декабрь 2022      object
январь 2023      float64
февраль 2023      object
март 2023         object
апрель 2023       object
май 2023          object
июнь 2023         object
июль 2023         object
август 2023       object
сентябрь 2023     object
октябрь 2023      object
ноябрь 2023       object
декабрь 2023     float64
январь 2024       object
февраль 2024      object
dtype: object

In [371]:
# Преобразуем тип данных в колонках месяцев в float
months = df_grouped.columns[1:].to_list()

df_grouped[months] = df_grouped[months].apply(pd.to_numeric, errors='coerce')
df_grouped['февраль 2023'] = df_grouped['февраль 2023'].apply(pd.to_numeric, errors='coerce')

In [373]:
df_grouped.dtypes

AM                object
ноябрь 2022      float64
декабрь 2022     float64
январь 2023      float64
февраль 2023     float64
март 2023        float64
апрель 2023      float64
май 2023         float64
июнь 2023        float64
июль 2023        float64
август 2023      float64
сентябрь 2023    float64
октябрь 2023     float64
ноябрь 2023      float64
декабрь 2023     float64
январь 2024      float64
февраль 2024     float64
dtype: object

In [375]:
df_grouped

,AM,ноябрь 2022,декабрь 2022,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023,январь 2024,февраль 2024
0,Васильев Артем Александрович,6612944.78,8945785.97,8600064.39,10237325.88,10599261.09,9514807.32,6889100.02,7602570.07,6755656.71,7225230.45,6221043.52,6951782.86,6678407.10,6627535.77,3018771.51,3325107.84
1,Иванова Мария Сергеевна,5087077.25,5141525.71,2182652.92,2339336.25,2356715.50,1572161.75,1765097.75,1599212.50,1115470.20,927775.38,876802.75,806527.75,805747.75,818837.75,267101.25,895927.00
2,Кузнецов Михаил Иванович,595372.00,591219.50,489941.00,751301.84,1155408.85,1002801.00,1639045.54,970021.15,1034285.11,1055191.14,1013555.65,1193086.98,1487515.01,1182026.90,730649.97,652217.45
3,Михайлов Андрей Сергеевич,3012725.96,2795820.21,3602392.09,3424925.69,2657019.77,2084446.26,2349180.22,1826922.43,1825172.67,1951869.77,2044569.12,1439000.06,1123911.77,1412650.00,980333.46,1245218.34
4,Петрова Анна Дмитриевна,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,98492.00,109442.52,0.00,0.00
5,Попова Екатерина Николаевна,1339206.00,1693775.25,1625844.68,1652305.00,1946488.25,2614346.78,2858305.18,2756596.50,2938307.16,2854563.78,2827105.08,2953812.30,2801220.91,2957416.74,1816611.20,1859227.90
6,Смирнова Ольга Владимировна,1093164.50,1304287.20,1469031.20,1771771.20,1966091.95,1954735.45,2357961.60,2312801.05,2537314.25,3250380.08,3075956.15,3431182.59,3499383.24,3105554.65,2087793.15,2251905.25
7,Соколова Анастасия Викторовна,3178857.21,3511733.76,3193159.50,3573484.60,3664282.20,4163335.35,4126701.14,4937579.14,4676773.45,4537148.08,3738750.19,4153932.49,4031420.07,3876452.16,2967728.00,2821306.50
8,Федорова Марина Васильевна,0.00,0.00,0.00,0.00,0.00,0.00,84000.00,78000.00,78000.00,73050.00,192470.00,184135.00,157900.00,50250.00,0.00,0.00

Рассчитать коэффициенты пролонгации для каждого менеджера и для всего отдела в целом
 - за каждый месяц
 - за год

### Рассчитаем коэффициент пролонгации в первый месяц

In [379]:
k1 = df_grouped[months].shift(-1, axis=1) / df_grouped[months]
k1 = k1.round(2)
k1.drop(columns = ['ноябрь 2022', 'декабрь 2022', 'январь 2024', 'февраль 2024'], inplace=True)

# Заменим inf на NaN, чтобы избежать проблем при суммировании
k1.replace([float('inf'), -float('inf')], pd.NA, inplace=True)

k1.insert(0, 'Менеджер', df_grouped['AM'])

In [380]:
k1

,Менеджер,январь 2023,февраль 2023,март 2023,апрель 2023,май 2023,июнь 2023,июль 2023,август 2023,сентябрь 2023,октябрь 2023,ноябрь 2023,декабрь 2023
0,Васильев Артем Александрович,1.19,1.04,0.90,0.72,1.10,0.89,1.07,0.86,1.12,0.96,0.99,0.46
1,Иванова Мария Сергеевна,1.07,1.01,0.67,1.12,0.91,0.70,0.83,0.95,0.92,1.0,1.02,0.33
2,Кузнецов Михаил Иванович,1.53,1.54,0.87,1.63,0.59,1.07,1.02,0.96,1.18,1.25,0.79,0.62
3,Михайлов Андрей Сергеевич,0.95,0.78,0.78,1.13,0.78,1.00,1.07,1.05,0.70,0.78,1.26,0.69
4,Петрова Анна Дмитриевна,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,1.11,0.00
5,Попова Екатерина Николаевна,1.02,1.18,1.34,1.09,0.96,1.07,0.97,0.99,1.04,0.95,1.06,0.61
6,Смирнова Ольга Владимировна,1.21,1.11,0.99,1.21,0.98,1.10,1.28,0.95,1.12,1.02,0.89,0.67
7,Соколова Анастасия Викторовна,1.12,1.03,1.14,0.99,1.20,0.95,0.97,0.82,1.11,0.97,0.96,0.77
8,Федорова Марина Васильевна,NaN,NaN,NaN,<NA>,0.93,1.00,0.94,2.63,0.96,0.86,0.32,0.00

### Рассчитаем коэффициент пролонгации k1 за год для каждого менеджера

In [383]:
k1_months = k1.columns[1:].to_list()
k1_yearly = k1[k1_months].sum(axis=1).to_frame(name = 'Коэффициент K1 за год для каждого менеджера')

k1_yearly.insert(0, 'Менеджер', k1['Менеджер'].values)

In [385]:
k1_yearly

                        Менеджер Коэффициент K1 за год для каждого менеджера
0   Васильев Артем Александрович                                        11.3
1        Иванова Мария Сергеевна                                       10.53
2       Кузнецов Михаил Иванович                                       13.05
3      Михайлов Андрей Сергеевич                                       10.97
4        Петрова Анна Дмитриевна                                        1.11
5    Попова Екатерина Николаевна                                       12.28
6    Смирнова Ольга Владимировна                                       12.53
7  Соколова Анастасия Викторовна                                       12.03
8     Федорова Марина Васильевна                                        7.64

### Рассчитаем коэффициент пролонгации k1 за год для всего отдела

In [388]:
k1_yearly_department = k1_yearly['Коэффициент K1 за год для каждого менеджера'].mean()
print(f'Средний коэффициент пролонгации для всего отдела за год: {k1_yearly_department}')

Средний коэффициент пролонгации для всего отдела за год: 10.16